<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReminderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>339D3C791D127B13007E0B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339D3C951D127B15007E0B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>339D3CA01D127B15007E0B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
